  <span class="revision">{rev}</span>
  <span class="tag branchhead">{branch}</span>
  <span class="tag">{tags}</span>
  <span class="tag">{bookmarks}</span>
  <span>{description|redmine}</span>
  <span class="description">{description|firstline|fill68}</span>
</div>
