  <span class="revision">{rev}</span>
  <span class="tag branchhead">{branch}</span>
  <span class="tag">{tags}</span>
  {bookmarks % '<span class="tag">{name|escape}</span> '}
  <span>{description|redmine}</span>
  <span class="description">{description|firstline|fill68}</span>
</div>
