{header}
<title>Help: {topic}</title>
</head>
<body>

        {menubar}
	
	<div id="content" class="container">
		<div class="page-header">
			<h1>Help: {topic}</h1>
		</div>
		<pre>{doc|escape}</pre>
	</div>

{footer}
