{header}
	<title>Repositories - Mercurial</title>
</head>
<body>

        {menubar}
	
	<div id="content" class="container">
		<div class="page-header">
			<h1>Repositories</h1>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th><a href="?sort={sort_name}">Name</a></th>
					<th><a href="?sort={sort_description}">Description</a></th>
					<th><a href="?sort={sort_lastchange}">Last Modified</a></th>
					<th>&nbsp;</th>
					<th>Default</th>
					<th>Tip</th>
				</tr>
			</thead>
			<tbody>
				{entries%indexentry}
			</tbody>
		</table>
	</div>
	{footer}
