<div class="navbar">
  <div class="container">
    <a class="brand" href="{logourl}">&nbsp;</a>
    <ul class="nav">
      <li class="active">
	<a href="{url}">Хранилище на машине 83</a>
	<a href="http://192.168.200.65:3000">Jenkins</a>
	<a href="http://192.168.200.69:3000">Redmine</a>
	<a href="http://192.168.200.69:3000">Хранилище</a>
      </li>
    </ul>
  </div>
</div>
