<div class="navbar">
  <div class="container">
    <a class="brand" href="{logourl}">&nbsp;</a>
    <ul class="nav">
      <li class="active">
	<a class="link jenkins" href="http://192.168.200.65:8080">Jenkins</a>
	<a class="link redmine" href="http://192.168.200.69:3000">Redmine</a>
	<a class="link mercurial" href="http://192.168.200.69:8008">Хранилище</a>
      </li>
    </ul>
  </div>
</div>
